#content {
  &.custom-template {
    .contact-info {
      h3 {
        font-weight: bold;
      }
      ul {
        list-style: none;
        padding-left: 0;
      }
    }
    .google-map {
      width: 100%;
      margin-bottom: 50px;
    }
  }
}

//Tablet
@media only screen and (min-width: 768px) {
  #content {
    &.custom-template {
      .contact-info {
        margin-top: 30px;
      }
    }
  }
}

//Wide Screen
@media only screen and (min-width: 1024px) {
  #content {
    &.custom-template {

    }
  }
}