.hero__content {
  .hero-large-text {
    color: #000;
    font-size: 4rem;
  }
  .hero-small-text {
    .strong {
      font-weight: bold;
    }
    p {
      color: #62615f;
    }
    h3 {
      color: #62615f;
    }
  }
}