#content {
  &.custom-template {
    .sobre-mi {
      &:before {
        background: url('../../uploads/2017/03/terapia.png') top center no-repeat;
      }
    }
    #image-title {
      width: 100%;
      position: relative;
      background-color: #0b0b0b;
      height: 200px;
      text-align: center;
      margin-bottom: 8%;
      &:before{
        content: "";
        display: block;
        opacity: 0.5;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
      .title-fade {
        color: white;
        position: relative;
        top: 40%;
        display: inline-block;
        font-weight: bold;
      }
    }
  }
}

//Tablet
@media only screen and (min-width: 768px) {
  #content {
    &.custom-template {
      #image-title {
        height: 250px;
        margin-bottom: 4%;
        &:before {
          background-size: cover;
        }
      }
    }
  }
}

//Wide Screen
@media only screen and (min-width: 1120px) {
  #content {
    &.custom-template {
      #image-title {
        height: 350px;
        margin-bottom: 3%;
      }
    }
  }
}
