/*****************************************
  COLORS
*****************************************/

/*Backgrounds*/
$bg-primary: #F6F6F6;
$bg-secondary: #FFFFFF;
$alternative-bg-color: #004E95;
$image-bg-color: #0b0b0b;

/*Text*/
$text-secondary: #fff;

/*Anchors*/
$anchor-color2: #004E95;
$alternative-hover-color: #0a6aa1;