#content {
  background-color: $bg-primary;
}

.block {
  margin: 2% 0;
}

.full-width-img {
  width: 100%;
  height: auto;
}

.alternative-bg {
  background-color: $bg-secondary;
  padding: 2% 0;
}

.flex {
  display: flex;
}

.center-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}