body {
  p, h1, h2, h3, h4, h5, h6, a {
    font-family: 'Nunito', sans-serif;
  }
}

#content {
  background-color: $bg-primary;
}

.block {
  margin: 2% 0;
}

.full-width-img {
  width: 100%;
  height: auto;
}

.alternative-bg {
  background-color: $bg-secondary;
  padding: 2% 0;
}

.flex {
  display: flex;
}

.italic-thin {
  font-weight: 300 !important;
  font-style: italic;
}

.emptySpace-md30 {
  margin-bottom: 30px;
}

.center-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#pclinica, #pforense {
  padding-top: 120px;
  margin-top: -120px;
}

.slick-slider {
  .slide-content {
    position: relative;
    #slide1-img {
      object-position: 25% 25%;
    }
    #slide2-img {
      object-position: 25% 25%;
    }
    #slide3-img {
      object-position: 25% 25%;
    }
    img {
      max-width: 100%;
      vertical-align: middle;
      height: 200px;
      object-fit: cover;
      width: 100%;
    }
    .content {
      padding: 4% 4%;
      background: $bg-secondary;
      text-align: center;
      box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
      h2 {
        color: $alternative-bg-color;
        font-weight: bold;
      }
      p {
        color: black;
        font-weight: bold;
      }
      a {
        padding: 10px 10px;
        color: $bg-secondary;
        font-weight: bold;
        text-decoration: none;
        background: $anchor-color2;
        display: inline-block;
        &:hover {
          background-color: $alternative-hover-color;
          color: $text-secondary;
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .onepress-menu {
    float: none !important;
    display: table !important;
    margin: 0 auto !important;
  }
  .slick-slider {
    .slide-content {
      img {
        height: 500px;
      }
      .content {
        position: absolute;
        top: 25%;
        left: 50%;
        padding: 2% 4%;
        border-radius: 25px 0 25px 0;
      }
    }
  }
}