#content {
  background-color: $bg-primary;
}

.block {
  margin: 2% 0;
}

.full-width-img {
  width: 100%;
  height: auto;
}

.alternative-bg {
  background-color: $bg-secondary;
  padding: 2% 0;
}

.flex {
  display: flex;
}

.center-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#pclinica, #pforense {
  padding-top: 120px;
  margin-top: -120px;
}

.slick-slider {
  .slide-content {
    position: relative;
    #slide1-img {
      object-position: 25% 25%;
    }
    #slide2-img {
      object-position: 25% 25%;
    }
    #slide3-img {
      object-position: 25% 25%;
    }
    img {
      max-width: 100%;
      vertical-align: middle;
      height: 300px;
      object-fit: cover;
      width: 100%;
    }
    .content {
      position: absolute;
      top: 20%;
      left: 50%;
      padding: 4%;
      background: $bg-secondary;
      border-radius: 25px 0 25px 0;
      text-align: center;
      h2 {
        color: $alternative-bg-color;
        font-weight: bold;
      }
      p {
        color: black;
        font-weight: bold;
      }
      a {
        padding: 10px 10px;
        color: $bg-secondary;
        font-weight: bold;
        text-decoration: none;
        background: $anchor-color2;
        display: inline-block;
        &:hover {
          background-color: $alternative-hover-color;
          color: $text-secondary;
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .onepress-menu {
    float: none !important;
    display: table !important;
    margin: 0 auto !important;
  }
  .slick-slider {
    .slide-content {
      img {
        height: 500px;
      }
    }
  }
}